{
    admin 127.0.0.1:12019
    auto_https off
}
(tour_upstreams) {
    encode gzip
    handle /api/* {
        reverse_proxy 127.0.0.1:18004 {
            header_up Host localhost
            flush_interval -1
        }
    }
    handle {
        reverse_proxy 127.0.0.1:18084
    }
}
http://:18080 {
    bind 127.0.0.1
    import tour_upstreams
}
http://:18081 {
    bind 172.18.0.1
    import tour_upstreams
}
