[Unit]
Description=Check the Tour IP certificate renewal twice daily

[Timer]
OnCalendar=*-*-* 00,12:00:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
