{
    admin off
    auto_https off
}
http://localhost:18080, http://127.0.0.1:18080 {
    bind 127.0.0.1
    encode gzip
    handle /api/* {
        reverse_proxy 127.0.0.1:18004 {
            flush_interval -1
        }
    }
    handle {
        reverse_proxy 127.0.0.1:18084
    }
}
